
@{
    ViewBag.Title = "DeleteUserConfirmed";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage1.cshtml";
}

<h2>DeleteUserConfirmed</h2>

<p>Xóa người dùng thành công.</p>

<div>
    @Html.ActionLink("Quay lại danh sách người dùng", "user", "Home", null, new { @class = "btn btn-primary" })
</div>
