
@{
    ViewBag.Title = "About";
    Layout = "~/Views/LayoutPage.cshtml";
}

<!-- about -->
<section class="about py-lg-4 py-md-4 py-sm-3 py-3" id="about">
    <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
        <h3 class="title text-center mb-2">About Us</h3>
        <div class="title-w3ls-text text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum
            </p>
        </div>
        <div class="row">
            <div class="col-lg-5 video-info-img text-center position-relative">
                <div class="abut-img-w3l">
                    <img src="~/images/bb1.jpg" alt="" class="img-fluid">
                </div>
                <div class="abut-img-two">
                    <img src="~/images/bb2.jpg" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-7 left-abut-txt ">
                <div class="about-right-grid">
                    <h2 class="mb-3">Our food should be our medicine,Our medicine organics should be our food your health</h2>
                    <p>
                        delectus reiciendis maiores alias consequatur aut.maiores alias Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit sed do eiusmod delectus reiciendis maiores alias consequatur aut.maiores alias Lorem ipsum dolor sit amet,
                        consectetur delectus reiciendis maiores alias consequatur aut.maiores alias Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit sed do eiusmod delectus reiciendis maiores alias consequatur aut.maiores alias Lorem ipsum
                        dolor sit amet, consectetur
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//about -->
<!-- store-info -->
<section class="store-info py-lg-4 py-md-4 py-sm-3 py-3">
    <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
        <div class="row">
            <div class="col-lg-7 store-details">
                <h4 class="mb-3">Store Information</h4>
                <h6 class="mb-2">Since:1974</h6>
                <p>
                    delectus reiciendis maiores alias consequatur aut.maiores alias Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit sed do eiusmod delectus reiciendis maiores alias consequatur aut.maiores alias Lorem ipsum dolor sit amet,
                    consectetur delectus reiciendis maiores alias consequatur aut.maiores alias Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit sed do eiusmod delectus reiciendis maiores alias consequatur aut.maiores alias Lorem ipsum dolor
                    sit amet, consectetur
                </p>
                <div class="view-buttn mt-md-4 mt-3">
                    <a href="#blog">Read More</a>
                </div>
            </div>

            <div class="col-lg-5 store-image-right">
                <img src="~/images/bb3.jpg" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>
<!--//store-info -->
