
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/LayoutPage.cshtml";
}

<!-- service -->
<section class="service py-lg-4 py-md-4 py-sm-3 py-3" id="service">
    <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
        <h3 class="title text-center mb-2">Services</h3>
        <div class="title-w3ls-text text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum
            </p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6 ser-icon text-center my-3">
                <div class="grid-wthree-service">
                    <img src="~/images/ab1.jpg" alt="news image" class="img-fluid">
                    <div class="ser-text-wthree mt-3">
                        <h4>
                            Vegatables
                        </h4>
                        <p class="mt-2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 ser-icon text-center my-3">
                <div class="grid-wthree-service">
                    <img src="~/images/ab2.jpg" alt="news image" class="img-fluid">
                    <div class="ser-text-wthree mt-3">
                        <h4>
                            Fresh Fruits
                        </h4>
                        <p class="mt-2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 ser-icon text-center my-3">
                <div class="grid-wthree-service">
                    <img src="~/images/ab3.jpg" alt="news image" class="img-fluid">
                    <div class="ser-text-wthree mt-3">
                        <h4>
                            Garden Tillage
                        </h4>
                        <p class="mt-2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 ser-icon text-center my-3">
                <div class="grid-wthree-service">
                    <img src="~/images/ab4.jpg" alt="news image" class="img-fluid">
                    <div class="ser-text-wthree mt-3">
                        <h4>
                            Awesome Wheats
                        </h4>
                        <p class="mt-2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 ser-icon text-center my-3">
                <div class="grid-wthree-service">
                    <img src="~/images/ab1.jpg" alt="news image" class="img-fluid">
                    <div class="ser-text-wthree mt-3">
                        <h4>
                            Garden Tillage
                        </h4>
                        <p class="mt-2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 ser-icon text-center my-3">
                <div class="grid-wthree-service">
                    <img src="~/images/ab2.jpg" alt="news image" class="img-fluid">
                    <div class="ser-text-wthree mt-3">
                        <h4>
                            Agro Machinery
                        </h4>
                        <p class="mt-2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//service -->
<!-- vegetable-info -->
<section class="veg-info py-lg-4 py-md-4 py-sm-3 py-3">
    <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
        <div class="row">
            <div class="col-lg-7">
                <img src="~/images/bb4.jpg" alt="news image" class="img-fluid">
            </div>
            <div class="col-lg-5 veg-list-text">
                <div class="row mb-2">
                    <div class="col-lg-7 col-md-7 col-sm-7 col-7 text-right py-lg-2 py-1 w3three-veg-org">
                        <h6>$ 3.50</h6>
                        <h5 class="my-2">BeetRoot</h5>
                        <p>consectetuer adip sit amet</p>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5 col-5 p-0">
                        <img src="~/images/v1.jpg" alt="news image" class="img-fluid">
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-lg-7 col-md-7 col-sm-7 col-7 text-right py-2 py-1 w3three-veg-org">
                        <h6>$ 2.75</h6>
                        <h5 class="my-2">Tomato</h5>
                        <p>consectetuer adip sit amet</p>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5 col-5 p-0">
                        <img src="~/images/v2.jpg" alt="news image" class="img-fluid">
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-lg-7 col-md-7 col-sm-7 col-7 text-right py-2 py-1 w3three-veg-org">
                        <h6>$ 5.20</h6>
                        <h5 class="my-2">Carrot</h5>
                        <p>consectetuer adip sit amet</p>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5 col-5 p-0">
                        <img src="~/images/v3.jpg" alt="news image" class="img-fluid">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-7 col-md-7 col-sm-7 col-7 text-right py-2 py-1 w3three-veg-org">
                        <h6>$ 3.00</h6>
                        <h5 class="my-2">Berries</h5>
                        <p>consectetuer adip sit amet</p>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5 col-5 p-0">
                        <img src="~/images/v4.jpg" alt="news image" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//vegetable-info -->
